:root {
  --outer-space: #33393f;
  --bright-turquoise: #2aefcb;
  --gin: #e0eae4;
  --heliotrope: #e866ec;
}

/* set content highlight color and background */
::selection {
  background-color: var(--bright-turquoise);
  color: var(--outer-space);
}


body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background-color: var(--outer-space);
  }

  h1 {
    font-size: 200%;
  }

  p {
    font-size: 150%;
  }

  ul {
    display: flex;
    justify-content:right;
    justify-content: space-between;
    min-width: 400px;
  }

  li {
    list-style-type: none;
  }
  
  a {
    color: #b9C6ae;
    font-weight: bold;
    text-decoration: underline;
  }

  .figure{
    background-color: rgba(232, 102, 236, 0.6);
    min-width: 100vh;
    display : flex;
    flex-wrap: wrap;
    justify-content:left;
    align-items: center;
    border-radius: 10px;
    padding: 0 5%;
    margin-top: 10px;
  }

  figure p {
    max-width: 300px;
    display : flex;
    flex-wrap: wrap;
    font-size: 200%;
    text-align:right;
    color: rgb(228, 238, 234);
  }
  
  main {
    width: 96%;
    margin: 2rem auto;
  }
  
  
.float-left {
    float: left ;
    margin-right: 25px;
}

.aboutme {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgba(232, 102, 236, 0.6);
  color: #ffffff;
}

h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

p{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* create our main grid with flexbox, use negative margins to offset the padding on the .card-column class */
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgba(232, 102, 236, 0.6)
}

.justify-center {
  justify-content: center;
}

.card-column img {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(32, 10, 227, 0.1);
  opacity : 0.8;
  display: block;
  margin: 0 auto;
  position: relative;
}

/* using a mobile-first approach, set base column width to be 100% and we'll update it using media queries for larger screen sizes */
.card-column {
  flex: 1 0 100%;
  padding: 1.5rem;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  margin-bottom: 1rem;
}

/* make each code card a flexbox column to align and justify content within it */
.code-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
  height: fit-content;
  padding: 2rem;
  color: var(--heliotrope);
  /* outline is like border, but on the outside of the box instead of inside */
  outline: 2px dashed var(--gin);
  outline-offset: -2px;
  transition: all 0.5s ease-in-out;
  background-color: rgba(53, 3, 55, 0.3);
}

.code-card .card-header {
  /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
  position: relative;
  margin: -2rem 0 1.5rem 0;
  padding: 0.5rem 1rem;
  background-color: rgba(232, 102, 236, 0.3);
  color: white;
  border: 2px solid var(--gin);
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
  align-content: center;
}

/* set an outer and inner drop shadow on the card to create a glowing effect on hover */
.code-card:hover,
.code-card:hover .card-header {
  box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
}

/* each card's code block grows to the height of the largest code block on the page, making each card even in height */
.code-card .code-block {
  flex-grow: 1;
}

.mywork {
  /* set styles to make it so code wraps in <pre> instead of overflowing */
  color: var(--gin);
  border-radius: 8px;
  /* use linear-gradient() function to create a fading background  */
  background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-footer {
  margin: 2rem 0px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--outer-space);
  color: #e0e4e2;
  text-align: center;
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow */
  .card-column:last-child {
    flex-grow: 1;
  }

  .aboutme{
    display: flex;
    justify-content: center;
    margin: 5px;
  }

}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

 @media screen and (min-width: 992px) {
   .header-footer{
    flex-direction: row;
    align-items: flex-end;
    padding: 2rem;
   }  
   
 } 

  